<footer class="footer">

    <div class="footer__container container-fluid">
        <div>
            <h5 class="footer__title">Ivdageo</h5>
            <ul>
                <li>За нас</li>
                <li>Работа при нас</li>
                <li>Общи условия</li>
            </ul>
        </div>
        <div>
            <h5 class="footer__title">Конакти</h5>
            <ul>
                <li>Контакти</li>
                <li>Магазин</li>
            </ul>
        </div>
        <div>
            <h5 class="footer__title">За клиента</h5>
            <ul>
                <li>Съвети</li>
                <li>Транспорт</li>
                <li>Доставка при онлайн покупка</li>
                <li>Вземи от магазин</li>
            </ul>
        </div>
        <div>
            <h5 class="footer__title">Обща информация</h5>
            <ul>
                <li>Услуги</li>
                <li>Как да поръчам</li>
            </ul>
        </div>
        <div>
            <h5 class="footer__title">Намерете ни в</h5>
            <ul>
                <li>
                    <a href=""><img src="../icons/facebook.svg" class="icons"  alt=""></a>
                </li>
            </ul>
        </div>
        
    </div>
</footer>