<header class="header">
    <nav class="header__nav">
        <div>
            <div class="header__nav__hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="header__navbar__logo d-none d-lg-block">
                <a href="#">
                    <img src="../images/logo.png" alt="">
                </a>
            </div>
        </div>

        <div class="nav__search d-none d-md-flex">
            <input type="text">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" class="icons d-md-block" viewBox="0 0 24 24" 
                width="512" height="512">
                <path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/>
                </svg>
                
                </div>
            </span>
        </div>

        <div class="container__icons">
            <div>
                <a href="/"><svg class="icons d-md-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
                    <g id="_01_align_center" data-name="01 align center"><path d="M13.338.833a2,2,0,0,0-2.676,0L0,10.429v10.4a3.2,3.2,0,0,0,3.2,3.2H20.8a3.2,3.2,0,0,0,3.2-3.2v-10.4ZM15,22.026H9V17a3,3,0,0,1,6,0Zm7-1.2a1.2,1.2,0,0,1-1.2,1.2H17V17A5,5,0,0,0,7,17v5.026H3.2a1.2,1.2,0,0,1-1.2-1.2V11.319l10-9,10,9Z"/>
                    </g></svg>
                </a></div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" class="icons show-search d-md-none" viewBox="0 0 24 24" 
                width="512" height="512">
                <path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/>
                </svg>
                
                </div>
            <div>
                <a href="" class="navbar-login-button">
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" id="Outline" 
viewBox="0 0 24 24" width="512" height="512">
<path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/>
<path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"/>
</svg>

                    <span class="d-none d-md-block">Вход</span>
                </a>
            </div>
            <div>
                <a href="" class="navbar-login-button">
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" id="Outline" 
viewBox="0 0 24 24" width="512" height="512">
<path d="M22.713,4.077A2.993,2.993,0,0,0,20.41,3H4.242L4.2,2.649A3,3,0,0,0,1.222,0H1A1,1,0,0,0,1,2h.222a1,1,0,0,1,.993.883l1.376,11.7A5,5,0,0,0,8.557,19H19a1
,1,0,0,0,0-2H8.557a3,3,0,0,1-2.82-2h11.92a5,5,0,0,0,4.921-4.113l.785-4.354A2.994,2.994,0,0,0,22.713,4.077ZM21.4,6.178l-.786,4.354A3,3,0,0,1,17.657,13
H5.419L4.478,5H20.41A1,1,0,0,1,21.4,6.178Z"/><circle cx="7" cy="22" r="2"/><circle cx="17" cy="22" r="2"/>
</svg>

                    <span class="d-none d-md-block">Количка</span>
                </a>
            </div>
        </div>
    </nav>
</header>