<header>
	<nav>
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="logo"></div>
    <div>
        <input type="text">
        <span>
            <!-- Search icon -->
        </span>
    </div>
    <div>
        Количка
        <span>
            <!-- Cart icon -->
        </span>

				<!-- login button -->
				<a href="" class="navbar-login-button">
					Login
				</div>
    </div>
	</nav>
</header>