@use "../components/breakpoints" as breakpoints;
@use "sass:math";

$grid-columns: 12;

@each $key, $value in breakpoints.$breakpoints{
    @for $i from 1 through $grid-columns{
        @media (min-width: $value){
            .col-#{$key}-#{$i}{
                box-sizing: border-box;
                flex-grow: 0;
                width: math.div($i * 100%, $grid-columns) ;
            }
        }
    }
}