@use "../components/breakpoints" as breakpoints;

.d-none{
    display:none !important;
}
.d-block{
    display:block !important;
}
.d-flex{
    display: flex !important;
}
.container-fluid{
        width:  min(100% - 2rem, 1600px);
        margin-inline: auto;
}
.container{
        width:  min(100% - 2rem, 600px);
        margin-inline: auto;
}

@each $key, $value in breakpoints.$breakpoints{
    .d-#{$key}-none{
        @media (min-width: $value){
            display: none !important;
        }
    }
    .d-#{$key}-block{
        @media (min-width: $value){
            display: block !important;
        }
    }
    .d-#{$key}-flex{
        @media (min-width: $value){
            display: flex !important;
        }
    }
    // This is still in test
    .container-#{$key}-fluid{
        @media (min-width: $value){
            width:  min(100% - 2rem, 1600px);
            margin-inline: auto;
        }
    }
    .container-#{$key}{
        @media (min-width: $value){
            width:  min(100% - 2rem, 600px);
            margin-inline: auto;
        }
    }
}
