@use "../abstracts/colors" as *;
@use "../components/breakpoints" as *;

$f-padding: 50px;

.footer {
  position:sticky;
  top: 100%;
  width: 100%;
  background: $primary-color;
  color: $white-color;

  &__container {
    // flex-direction: column;
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // place-content: stretch center;
    // align-items: stretch;
    padding-top: $f-padding;
    padding-bottom: $f-padding;

    @include md {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__title {
    font-size: 1.5em;
  }
}
