$primary-color: hsl(215, 80%, 33%);
$sec-color: hsl(358, 83%, 56%);
$background-color: hsl(200, 35%, 92%);
$white-color: hsl(210, 30%, 92%);
$blue-color:hsl(203, 76%, 48%);
$red-color: hsl(344, 92%, 58%);
$orange-color: hsl(33, 89%, 52%);
$green-color: hsl(92, 50%, 54%);
$gray-color: hsl(0, 0%, 96%);