$primary-color: #114999;
$sec-color: #ec3037;
$background-color: #e2ecf1;
$white-color: #e5ebf1;
$blue-color:rgb(29, 144, 216);
$red-color: #F63265;
$orange-color: #F18E18;
$green-color: #85C44D;
$gray-color: #F6F6F6;